<a href="https://colab.research.google.com/github/rtheman/Data_IO/blob/master/from_Internet_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objective

This notebook provide receipes for loading/extracting data into this Juypter Notebook (Google Colab), in this case, from **Internet**.

**METHOD**.  This notebook uses `urllib` and `zipfile` library to download and unzip file respectively.

**DATASET** from the [Taxi Trips dataset](https://data.cityofchicago.org/Transportation/Taxi-Trips/wrvz-psew) released by the City of Chicago.

**PROCESS**
1. Download data from Internet (Google Cloud Storage).
1. Save to a temporary directory under Colab file system `/tmp/[tmp_folder_name]`.
1. Unzip downloaded file with `zipfile` library.
1. Save training dataset as a dataframe.

# Init. parameters and libraries

In [ ]:
import os
from io import BytesIO

import tempfile, urllib, zipfile

import pandas as pd

In [ ]:
# file_name = "http://stats.idre.ucla.edu/stat/data/binary.csv"
data_orig_path = "https://storage.googleapis.com/artifacts.tfx-oss-public.appspot.com/datasets"
data_orig_filename = "chicago_data.zip"

BASE_DIR = tempfile.mkdtemp()
DATA_DIR = os.path.join(BASE_DIR, 'data')
OUTPUT_DIR = os.path.join(BASE_DIR, 'chicago_taxi_output')

TRAIN_DATA = os.path.join(DATA_DIR, 'train', 'data.csv')
EVAL_DATA = os.path.join(DATA_DIR, 'eval', 'data.csv')
SERVING_DATA = os.path.join(DATA_DIR, 'serving', 'data.csv')

# 1.) Import Data

## Download ZIP file from GCP and unzip it

In [ ]:
data_orig_URL = os.path.join(data_orig_path, data_orig_filename)

# Download the zip file from GCP and unzip it
zip, headers = urllib.request.urlretrieve(data_orig_URL)
zipfile.ZipFile(zip).extractall(BASE_DIR)
zipfile.ZipFile(zip).close()

## Read data into Dataframe

In [ ]:
# df = pd.read_csv(file_name, header=0, index_col=0)
df = pd.read_csv(TRAIN_DATA, header=0)
df.info

<bound method DataFrame.info of       pickup_community_area   fare  ...  dropoff_community_area  tips
0                        22  12.85  ...                    32.0   0.0
1                        22   5.45  ...                    24.0   0.0
2                        33   0.00  ...                    33.0   0.0
3                        33  11.05  ...                     8.0   0.0
4                        33  11.05  ...                     8.0   0.0
...                     ...    ...  ...                     ...   ...
9995                      8   3.25  ...                     8.0   0.0
9996                      8   3.25  ...                     8.0   0.0
9997                      8   4.25  ...                     8.0   0.0
9998                     61   9.85  ...                    59.0   0.0
9999                     61   5.65  ...                    58.0   0.0

[10000 rows x 18 columns]>

In [ ]:
df.dtypes

pickup_community_area       int64
fare                      float64
trip_start_month            int64
trip_start_hour             int64
trip_start_day              int64
trip_start_timestamp        int64
pickup_latitude           float64
pickup_longitude          float64
dropoff_latitude          float64
dropoff_longitude         float64
trip_miles                float64
pickup_census_tract       float64
dropoff_census_tract      float64
payment_type               object
company                    object
trip_seconds                int64
dropoff_community_area    float64
tips                      float64
dtype: object

In [ ]:
df

      pickup_community_area   fare  ...  dropoff_community_area  tips
0                        22  12.85  ...                    32.0   0.0
1                        22   5.45  ...                    24.0   0.0
2                        33   0.00  ...                    33.0   0.0
3                        33  11.05  ...                     8.0   0.0
4                        33  11.05  ...                     8.0   0.0
...                     ...    ...  ...                     ...   ...
9995                      8   3.25  ...                     8.0   0.0
9996                      8   3.25  ...                     8.0   0.0
9997                      8   4.25  ...                     8.0   0.0
9998                     61   9.85  ...                    59.0   0.0
9999                     61   5.65  ...                    58.0   0.0

[10000 rows x 18 columns]