<a href="https://colab.research.google.com/github/rtheman/Data_IO/blob/master/from_Google_Sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objective

This notebook provide receipes for loading/extracting data into this Juypter Notebook (Google Colab), in this case, from **Google Sheet**.

This notebook uese the open-source [`gspread`](https://github.com/burnash/gspread) library for interacting with Google Sheets.

Additional examples are availabe at the [`gspread` GitHub page](https://github.com/burnash/gspread#more-examples).

presented this to Robert W. and KPMG team on Fri, 10Jul'2020.

# Init. settings and libraries

First, install the package using `pip`.

In [1]:
!pip install --upgrade --quiet gspread

Import the library, authenticate, and create the interface to Sheets.

In [2]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

# 1.) Create a new sheet with data from Python

In [3]:
# Create a new workbook in Google Sheet
sh = gc.create('My cool spreadsheet')

In [4]:
# Create a new worksheet
worksheet = sh.add_worksheet(title="A worksheet", rows="78", cols="20")

After executing the cell above, you will see a new spreadsheet named 'My cool spreadsheet' at [https://sheets.google.com](https://sheets.google.com/).

Open our new sheet and add some random data.

We will use `gspread_pandas` library.  Ref https://gspread-pandas.readthedocs.io/en/latest/getting_started.html#example

# 2.) Download data from Internet, then persist as dataframe.

In [5]:
import pandas as pd

In [6]:
file_name = "http://stats.idre.ucla.edu/stat/data/binary.csv"

df = pd.read_csv(file_name, header=0, index_col=0)

In [7]:
df

       gre   gpa  rank
admit
0      380  3.61     3
1      660  3.67     3
1      800  4.00     1
1      640  3.19     4
0      520  2.93     4
...    ...   ...   ...
0      620  4.00     2
0      560  3.04     3
0      460  2.63     2
0      700  3.65     2
0      600  3.89     3

[400 rows x 3 columns]

# 3.) Write data (dataframe) to Google Sheet

In [8]:
worksheet.update([df.columns.values.tolist()] + df.values.tolist())

{'spreadsheetId': '1fUfmiS6qXP78zZd6Ux6NOSp0AENKCsT8SqBeK1aAKxs',
 'updatedCells': 1203,
 'updatedColumns': 3,
 'updatedRange': "'A worksheet'!A1:C401",
 'updatedRows': 401}